# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual environments (non utilisé avec Docker)
venv/
env/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Docker
.dockerignore

# Testing
.coverage
.pytest_cache/
htmlcov/

# Environment
.env
*.env.local

# Temporary
tmp/
temp/
*.tmp


# null files
nul
